.header{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-logo{
    margin: 10px 50px;
}
.website-logo-text{
    font-size: 22px;
    font-weight: 500;
    color: #202020;
}
.header-list{
    display: flex;
    align-items: center;
    list-style: none;
    margin: 10px 50px;
}
.list-items{
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    color: #202020;
}